<div id="maindiv" #maindiv>
<div class="header">
    <img src="assets/images/actofit_logo.svg" style="place-self: center; width: 100%;">
    <span></span>
    <img src="assets/images/qr.png" style="width:80%; place-self: center;">
    <p class="heading" style="place-self: center;">Scan QR Code to view your reading in your mobile app</p>
</div>
<!---Personal Details-->
<mat-card class="text-center little-profile">
    <!-- <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content fxLayout="row" fxLayoutWrap="wrap">
        <!-- <div class="pro-img2" fxFlex.gt-xs="15%">
            <img src="assets/images/users/4.jpg" width="100" alt="user" class="img-circle">
        </div> -->
        <h3 class="m-b-0 m-t-15" fxFlex.gt-xs="25%">Angela Dominic</h3>
        <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-3" fxFlex.gt-xs="75%">
            <div fxFlex.gt-sm="25%" fxFlex.gt-xs="33.33%" fxFlex="100" class="profile-block">
                <img src="assets/images/age.png" class="profile-icon">
                <h3 class="font-light profile-text">26 yrs</h3>
            </div>
            <div fxFlex.gt-sm="25%" fxFlex="100" class="profile-block">
                <img src="assets/images/height.png" class="profile-icon">
                <h3 class="font-light profile-text">177 cm</h3>
            </div>
            <div fxFlex.gt-sm="25%" fxFlex.gt-xs="33.33%" fxFlex="100" class="profile-block">
                <img src="assets/images/male.png" class="profile-icon">
                <h3 class="font-light profile-text">Male</h3>
            </div>
            <div fxFlex.gt-sm="25%" fxFlex.gt-xs="33.33%" fxFlex="100" class="profile-block">
                <img src="assets/images/calendar.png" class="profile-icon">
                <h3 class="font-light profile-text">2023-2-21</h3>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<div class="upper-section" fxLayout="row" fxLayoutWrap="wrap">
<div class="analysis-section" fxFlex.gt-sm="50%">
<!---body-composition-->
<h3 class="heading">Body Composition Analysis</h3>
<mat-card class="card-main">
    <div class="table-row" fxLayout="row" fxLayoutWrap="wrap">
            <div class="bca-img" fxFlex.gt-sm="10%">
                <img src="assets/images/bodyfat.png">
            </div>
            <div class="bca-text" fxFlex.gt-sm="90%">
            <div class="bca-details" fxFlex.gt-sm="85%">
                <span class="heading" style="margin-left: 0px;">Body Fat</span>
                <p class="m-0">Total fat in your body that include fat around your organs and below your organs and below your skin.</p>    
            </div>
            <div class="col-2" fxFlex.gt-sm="15%" style="background-color: #F6F9FC; border-radius: 0rem 1rem 0rem 0rem;">
            <p>{{userdata.body_fat}}Kg</p>
            </div>
            </div>
    </div>
    <div class="table-row" fxLayout="row" fxLayoutWrap="wrap">
        <div class="bca-img" fxFlex.gt-sm="10%">
            <img src="assets/images/fatfree.png">
        </div>
        <div class="bca-text" fxFlex.gt-sm="90%">
        <div class="bca-details" fxFlex.gt-sm="85%">
            <span class="heading" style="margin-left: 0px;">Fat Free Weight</span>
            <p class="m-0">Your muscle, Bone, Body water and other Tissue weight</p>    
        </div>
        <div class="col-2" fxFlex.gt-sm="15%" style="background-color: #F6F9FC;">
        <p>{{userdata.fat_free_weight}}Kg</p>
        </div>
        </div>
</div>
<div class="table-row" fxLayout="row" fxLayoutWrap="wrap">
    <div class="bca-img" fxFlex.gt-sm="10%">
        <img src="assets/images/weight.png">
    </div>
    <div class="bca-text" fxFlex.gt-sm="90%" style="border: none;">
    <div class="bca-details" fxFlex.gt-sm="85%">
        <span class="heading" style="margin-left: 0px;">Weight</span>
        <p class="m-0">Sum of the above</p>    
    </div>
    <div class="col-2" fxFlex.gt-sm="15%" style="background-color: #F6F9FC; border-radius: 0rem 0rem 1rem 0rem;">
    <p>{{userdata.weight}}Kg</p>
    </div>
    </div>
</div>
    <!-- <div class="table-row" fxLayout="row" fxLayoutWrap="wrap">
        <div class="col-1" fxFlex.gt-sm="65%">
            Fat Free Weight
        </div>
        <div class="col-2" fxFlex.gt-sm="35%">
            45.59 Kg
        </div>
    </div>
    <div class="table-row" fxLayout="row" fxLayoutWrap="wrap">
        <div class="col-1" fxFlex.gt-sm="65%">
            Weight (64.60~78.96)
        </div>
        <div class="col-2" fxFlex.gt-sm="35%">
            58.00 Kg
        </div>
    </div> -->
</mat-card>

<!--Muscle Fat-->
<h3 class="heading" style="margin-top: 45px;">Muscle Fat Analysis</h3>
<mat-card class="card-main mfa">
    <div class="table-row">
        <div fxLayout="row" fxLayoutWrap="wrap" class="table-row-2">
        <div class="col-1" fxFlex.gt-sm="25%">
            Weight ({{userdata.weight}}Kg)
        </div>
        <div class="col-2 m-t-5" fxFlex.gt-sm="75%" fxLayout="row" fxLayoutWrap="wrap">
            <div class="slider-section" fxFlex.gt-sm="20%" width="20%">
                <div class="slider slider-1"></div>
                <p class="slider-text-in">Seriously Low</p>    
            </div>
            <div class="slider-section" fxFlex.gt-sm="20%" width="20%">
                <div class="slider slider-2"></div>
                <p class="slider-text-in">Low</p>    
            </div>
            <div class="slider-section" fxFlex.gt-sm="20%" width="20%">
                <div class="slider slider-3"></div>
                <p class="slider-text-in">Standard</p>    
            </div>
            <div class="slider-section" fxFlex.gt-sm="20%" width="20%">
                <div class="slider slider-4"></div>
                <p class="slider-text-in">High</p>    
            </div>
            <div class="slider-section" fxFlex.gt-sm="20%" width="20%">
                <div class="slider slider-5"></div>
                <p class="slider-text-in">Exceed</p>    
            </div>
            <!-- <div class="slider-2" fxFlex.gt-sm="20%" width="20%"></div>
            <div class="slider-3" fxFlex.gt-sm="20%" width="20%"></div>
            <div class="slider-4" fxFlex.gt-sm="20%" width="20%"></div>
            <div class="slider-5" fxFlex.gt-sm="20%" width="20%"></div> -->
            <!-- <p class="slider-text" id="first-text">57.4</p>
            <p class="slider-text" id="second-text">64.6</p>
            <p class="slider-text" id="third-text">79.0</p>
            <p class="slider-text" id="fourth-text">86.1</p> -->
            <img src="assets/images/marker.png" style="width: 15px; top: 15px;" [style.left.%]="weightslider" class="slider-dot">
        </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" class="table-row-2">
        <div class="col-1" fxFlex.gt-sm="25%">
            SMM ({{userdata.skeletal_muscle}}%)<br>
            <span class="sub-text">(Skeletal Muscle Mass)</span>
        </div>
        <div class="col-2 m-t-5" fxFlex.gt-sm="75%" fxLayout="row" fxLayoutWrap="wrap">
            <div class="slider-section" fxFlex.gt-sm="33.33%" width="33.33%">
                <div class="slider slider-2"></div>
                <p class="slider-text-in">Low</p>    
            </div>
            <div class="slider slider-section" fxFlex.gt-sm="33.33%" width="33.33%">
                <div class="slider-3"></div>
                <p class="slider-text-in">Standard</p>    
            </div>
            <div class="slider slider-section" fxFlex.gt-sm="33.33%" width="33.33%">
                <div class="slider-4"></div>
                <p class="slider-text-in">High</p>    
            </div>
            <!-- <p class="slider-text" id="first-text" style="left: 32%">49.0</p>
            <p class="slider-text" id="second-text" style="left: 65%">59.0</p> -->
            <!-- <img src="assets/images/slider-dot.png" style="width: 21px; top: -5.5px;" [style.left.%]="weightslider" class="slider-dot"> -->
            <img src="assets/images/marker.png" style="width: 15px; top: 15px;" [style.left.%]="weightslider" class="slider-dot">
        </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" class="table-row-2">
            <div class="col-1" fxFlex.gt-sm="25%">
                BFM ({{userdata.body_fat}}Kg)<br>
                <span class="sub-text"> (Body Fat Mass)</span>
            </div>
            <div class="col-2 m-t-5" fxFlex.gt-sm="75%" fxLayout="row" fxLayoutWrap="wrap">
                <div class="slider-section" fxFlex.gt-sm="25%" width="25%">
                    <div class="slider slider-2" ></div>
                    <p class="slider-text-in">Low</p>    
                </div>
                <div class="slider-section" fxFlex.gt-sm="25%" width="25%">
                    <div class="slider slider-3"></div>
                    <p class="slider-text-in">Standard</p>    
                </div>
                <div class="slider-section" fxFlex.gt-sm="25%" width="25%">
                    <div class="slider slider-4"></div>
                    <p class="slider-text-in">High</p>    
                </div>
                <div class="slider-section" fxFlex.gt-sm="25%" width="25%">
                    <div class="slider slider-5"></div>
                    <p class="slider-text-in">Exceed</p>    
                </div>
                <!-- <p class="slider-text" id="second-text" style="left: 23.5%">6.4</p>
                <p class="slider-text" id="third-text" style="left: 48.5%">12.8</p>
                <p class="slider-text" id="fourth-text" style="left: 73.5%">15.1</p>    
                <img src="assets/images/slider-dot.png" style="width: 21px; top: -5.5px;" [style.left.%]="weightslider" class="slider-dot"> -->
                <img src="assets/images/marker.png" style="width: 15px; top: 15px;" [style.left.%]="weightslider" class="slider-dot">

            </div>
            </div>
    </div>
</mat-card>

<!--Obesity Analysis-->
<h3 class="heading" style="margin-top: 46px;">Obesity Analysis</h3>
<mat-card class="card-main mfa">
    <div class="table-row">
        <div fxLayout="row" fxLayoutWrap="wrap" class="table-row-2">
        <div class="col-1" fxFlex.gt-sm="25%">
            BMI<br>
            <span class="sub-text">(Body Mass Index)</span>
        </div>
        <div class="col-2 m-t-5" fxFlex.gt-sm="75%" style="margin-left: 20px;" fxLayout="row" fxLayoutWrap="wrap">
            <div class="slider-section" fxFlex.gt-sm="33.33%" width="33.33%">
                <div class="slider slider-2" ></div>
                <p class="slider-text-in">Low</p>    
            </div>
            <div class="slider-section" fxFlex.gt-sm="33.33%" width="33.33%">
                <div class="slider slider-3"></div>
                <p class="slider-text-in">Standard</p>    
            </div>
            <div class="slider-section" fxFlex.gt-sm="33.33%" width="33.33%">
                <div class="slider slider-4" ></div>
                <p class="slider-text-in">High</p>    
            </div>
            <!-- <p class="slider-text" id="first-text" style="left: 32%">18.5</p>
            <p class="slider-text" id="second-text" style="left: 65%">25.0</p>
            <img src="assets/images/slider-dot.png" style="width: 21px; top: -5.5px;" [style.left.%]="weightslider" class="slider-dot"> -->
            <img src="assets/images/marker.png" style="width: 15px; top: 15px;" [style.left.%]="weightslider" class="slider-dot">

        </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" class="table-row-2">
            <div class="col-1" fxFlex.gt-sm="25%">
                PBF<br>
                <span class="sub-text">(Percent Body Fat)</span>
            </div>
            <div class="col-2 m-t-5" fxFlex.gt-sm="75%" style="margin-left: 20px;" fxLayout="row" fxLayoutWrap="wrap">
                <div class="slider-section" fxFlex.gt-sm="25%" width="25%">
                    <div class="slider slider-2"></div>
                    <p class="slider-text-in">Low</p>    
                </div>
                <div class="slider-section" fxFlex.gt-sm="25%" width="25%">
                    <div class="slider slider-3"></div>
                    <p class="slider-text-in">Standard</p>    
                </div>
                <div class="slider-section" fxFlex.gt-sm="25%" width="25%">
                    <div class="slider slider-4"></div>
                    <p class="slider-text-in">High</p>    
                </div>
                <div class="slider-section" fxFlex.gt-sm="25%" width="25%">
                    <div class="slider slider-5"></div>
                    <p class="slider-text-in">Exceed</p>    
                </div>
                <!-- <p class="slider-text" id="second-text" style="left: 23.5%">11.0</p>
                <p class="slider-text" id="third-text" style="left: 48.5%">22.0</p>
                <p class="slider-text" id="fourth-text" style="left: 73.5%">26.0</p>    
                <img src="assets/images/slider-dot.png" style="width: 21px; top: -5.5px;" [style.left.%]="weightslider" class="slider-dot"> -->
                <img src="assets/images/marker.png" style="width: 15px; top: 15px;" [style.left.%]="weightslider" class="slider-dot">

            </div>
            </div>
    </div>
</mat-card>
<!--Segmental analysis-->
</div>
<div class="actofit-health" fxFlex.gt-sm="50%">
<h3 class="heading">Actofit Health Score</h3>
<mat-card class="card-main">
    <!-- <canvas id="actoscore"></canvas> -->
    <div>
    <div class="score-donut">
    <div class="card">
        <div class="percent">
          <!-- <svg>
            <circle cx="105" cy="105" r="50"></circle>
            <circle cx="105" cy="105" r="50" [style.--percent]="userdata.health_score"></circle>
          </svg> -->
          <div class="number">
            <h3>{{userdata.health_score | number : '.2-2'}}<span>/100</span></h3>
          </div>
        </div>
        <!-- <div class="title">
            <h2>Points</h2>
          </div> -->
    </div>
</div>
<p style="font-style: italic; font-family: 'Roboto', sans-serif; font-size: 0.7rem; text-align: center; border-bottom: 0.45px solid #EAEAEA; width: 90%; margin: auto; padding-bottom: 15px;">*Total score that reflects the evaluation of body composition. A muscular person may score over 100 points.</p>

      <div class="score-details">
        <h4 class="heading" style="margin: 0px 10px 10px 10px">Results Interpretation</h4>
        <div class="ind-score">
            <h3 class="m-0 sub-heading">Body Composition Analysis</h3>
            <p class="m-0 sub-text">Body weight is the sum of body fat free mass, which is composed of Dry Lean Mass, Total Body Water, Bone Mass & other Tissue</p>
        </div>
        <div class="ind-score">
            <h3 class="m-0 sub-heading">Muscle-Fat Analysis</h3>
            <p class="m-0 sub-text">The longer the Skeletal Muscle Mass bar is compared to the Body Fat Mass bar, the stronger the body is</p>
        </div>
        <div class="ind-score">
            <h3 class="m-0 sub-heading">Obesity Analysis</h3>
            <p class="m-0 sub-text">BMI is an index used to determine obesity by using height and weight. PBF is the percentage of body fat compared to body weight</p>
        </div>
        <div class="ind-score">
            <h3 class="m-0 sub-heading">Segmental Body Analysis</h3>
            <p class="m-0 sub-text">Evaluates whether the amount of muscle and fat is adequetly distributed throughout the body</p>
        </div>
            <div class="ind-score">
                <h3 class="m-0 sub-heading">Body Composition History</h3>
                <p class="m-0 sub-text">Track the history of the body compositional change. Take the Actofit Test periodically to monitor your prgress.</p>
            </div>
            <div class="ind-score" >
                <h3 class="m-0 sub-heading">Body Fat-Weight Control</h3>
                <p class="m-0 sub-text">Body Fat Mass : <span class="standard">Standard</span> 
                Weight: +6.60Kg
                (+) Means to gain fat/ lean mass · (-) Means to loose fat/lean mass
                </p>
            </div>
            <div class="ind-score">
                <h3 class="m-0 sub-heading">Bone Mass: {{userdata.bone_mass}}Kg <span id="bone-mass"></span></h3>
                <p class="m-0 sub-text">This is the weight of total bone tissue (Bone minerals + Bone matrix) in your body. Higher bone mass indicates better bone health.</p>
            </div>
            <div class="ind-score">
                <h3 class="m-0 sub-heading">Body Water: {{userdata.body_water}}% 33.41 Ltr <span class="standard">Standard</span></h3>
                <p class="m-0 sub-text">It’s the total amount of fluid in the body expressed as % of total weight. Lower body water % affects the essential body processes.</p>
            </div>
            <div class="ind-score">
                <h3 class="m-0 sub-heading">Visceral Fat: {{userdata.visceral_fat}} <span  id="visceral-fat"></span></h3>
                <p class="m-0 sub-text">Visceral fat is located deep in the core abdominal area, surrounding and protecting the vital organs. Healthy level of visceral fat directly reduces the risk of certainn diseases.</p>
            </div>
         
            <div class="ind-score">
                <h3 class="m-0 sub-heading">Subcutaneous Fat: {{userdata.subcutaneous_fat}}% <span id="subcutaneous-fat"></span></h3>
                <p class="m-0 sub-text">It is the proportional weight of fat below the skin to the total body weight. Higher subcutaneous fat value is an indicator of bad physical health.</p>
            </div>
            <div class="ind-score">
                <h3 class="m-0 sub-heading">Protein: {{userdata.protein}}% <span id="protein">Low</span></h3>
                <p class="m-0 sub-text">It is the proportional weight of body protein components to the total body weight. Adequate protein levels are essential for normal body function.</p>
            </div>
            <div class="ind-score">
                <h3 class="m-0 sub-heading">Metabolic Age: {{userdata.metabolic_age}} Yrs <span class="not-standard">Not Standard</span></h3>
                <p class="m-0 sub-text">It is the predicted age of the metabolism of your body. If your metabolic age higher than your actual age, its an indication that you need to improve metabolic rate.</p>
            </div>
        
            <div class="ind-score">
                <h3 class="m-0 sub-heading">Basal Metabolic Rate: {{userdata.bmr}} kcal <span class="not-standard">Not Standard</span></h3>
                <p class="m-0 sub-text">The BMR or Basal Metabolic Rate is daily minimum of energy or calories your body requires when at rest (including sleeping) in order to function effectively</p>
            </div>
      </div>
      </div>
</mat-card>
</div>
</div>


<!---Analysis Data-->
<div class="analysis-section-1" fxLayout="row" fxLayoutWrap="wrap">
<div class="segmental-graph" fxFlex.gt-sm="50%">
    <h3 class="heading">Segmental Body Analysis</h3>
<mat-card class="card-main sba" style="height: 500px">
    <div class="table-row" fxLayout="row" fxLayoutWrap="wrap">
        <div class="col-1 heading" fxFlex.gt-sm="25%">
            Weight
        </div>
        <div class="col-2" fxFlex.gt-sm="75%" style="border-radius: 0rem 1rem 0rem 0rem;">
            <canvas id="weightChart" style="border-radius: 0rem 1rem 0rem 0rem;"></canvas>
        </div>
    </div>
    <div class="table-row" fxLayout="row" fxLayoutWrap="wrap">
        <div class="col-1 heading" fxFlex.gt-sm="25%">
            SMM <br>
            <span class="sub-text">Skeletal Muscle Mass</span>
        </div>
        <div class="col-2" fxFlex.gt-sm="75%">
            <canvas id="smmChart"></canvas>
        </div>
    </div>
    <div class="table-row" fxLayout="row" fxLayoutWrap="wrap">
        <div class="col-1 heading" fxFlex.gt-sm="25%">
            BFM<br> 
            <span class="sub-text">Body Fat Mass</span>
        </div>
        <div class="col-2" fxFlex.gt-sm="75%" >
            <canvas id="bfChart" ></canvas>
        </div>
    </div>
    <div class="table-row" fxLayout="row" fxLayoutWrap="wrap">
        <div class="col-1 heading" fxFlex.gt-sm="25%">
        </div>
        <div class="col-2" fxFlex.gt-sm="75%" style="border-radius: 0rem 0rem 1rem 0rem; background-color: transparent;">
            <canvas id="testChart" style="background-color: transparent; border-bottom: none;"></canvas>
        </div>
    </div>
</mat-card>
</div>
<div class="segmental" fxFlex.gt-sm="50%">
    <h3 class="heading">Segmental Analysis</h3>
<mat-card class="card-main"  fxLayout="row" fxLayoutWrap="wrap" id="segmental-card" style="height: 500px">
    <div class="analysiscol" fxFlex.gt-sm="50%">
        <h4 class="heading" style="text-align: center;">Fat Analysis</h4>
        <img src="assets/images/fatanalysis.png" class="an-img">
        <div class="an-details right-arm">
            <img src="assets/images/rightarm.png" style="width: 40px;">
            <p class="head-text">Right Arm</p>
            <p class="head-value">Fat: <b>3.06 Kg</b></p>
            <p class="percent-value high">209.65% High</p>
        </div>
        <div class="an-details left-arm">
            <img src="assets/images/leftarm.png" style="width: 40px;">
            <p class="head-text">Left Arm</p>
            <p class="head-value">Fat: <b>3.06 Kg</b></p>
            <p class="percent-value high">209.65% High</p>
        </div>
        <div class="an-details trunk">
            <img src="assets/images/trunk.png" style="width: 40px;">
            <p class="head-text">Trunk</p>
            <p class="head-value">Fat: <b>3.06 Kg</b></p>
            <p class="percent-value high">209.65% High</p>
        </div>
        <div class="an-details right-leg">
            <img src="assets/images/rightleg.png" style="width: 40px;">
            <p class="head-text">Right Leg</p>
            <p class="head-value">Fat: <b>3.06 Kg</b></p>
            <p class="percent-value high">209.65% High</p>
        </div>
        <div class="an-details left-leg">
            <img src="assets/images/leftleg.png" style="width: 40px;">
            <p class="head-text">Left Lef</p>
            <p class="head-value">Fat: <b>3.06 Kg</b></p>
            <p class="percent-value high">209.65% High</p>
        </div>
    </div>
    <div class="analysiscol" fxFlex.gt-sm="50%">
        <h4 class="heading" style="text-align: center;">Lean Mass Analysis</h4>
        <img src="assets/images/leanmass.png" class="an-img">
        <div class="an-details right-arm">
            <img src="assets/images/rightarm.png" style="width: 40px;">
            <p class="head-text">Right Arm</p>
            <p class="head-value">Fat: <b>3.06 Kg</b></p>
            <p class="percent-value high">209.65% High</p>
        </div>
        <div class="an-details left-arm">
            <img src="assets/images/leftarm.png" style="width: 40px;">
            <p class="head-text">Left Arm</p>
            <p class="head-value">Fat: <b>3.06 Kg</b></p>
            <p class="percent-value high">209.65% High</p>
        </div>
        <div class="an-details trunk">
            <img src="assets/images/trunk.png" style="width: 40px;">
            <p class="head-text">Trunk</p>
            <p class="head-value">Fat: <b>3.06 Kg</b></p>
            <p class="percent-value high">209.65% High</p>
        </div>
        <div class="an-details right-leg">
            <img src="assets/images/rightleg.png" style="width: 40px;">
            <p class="head-text">Right Leg</p>
            <p class="head-value">Fat: <b>3.06 Kg</b></p>
            <p class="percent-value high">209.65% High</p>
        </div>
        <div class="an-details left-leg">
            <img src="assets/images/leftleg.png" style="width: 40px;">
            <p class="head-text">Left Lef</p>
            <p class="head-value">Fat: <b>3.06 Kg</b></p>
            <p class="percent-value high">209.65% High</p>
        </div>
    </div>
    
</mat-card>
</div>
</div>
</div>
<!-- <button (click)="downloadPDF()">Print</button> -->